
.flex-container {
  display: flex;
  padding: 15px;
  background-color: #ccddff47;
}

.flex-container>div {
  width: 85%;
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
}
.home-head{
  text-align: center;
}

.hollywood{
  width:85%;
    margin: auto;
}

.hollywood:hover{
  box-shadow: 2px 5px 12px 5px #888888;
}

.no-oscar{
  height: 360px;
}

.blog-title{
  text-align: center;
}

.flex-container-stack{
  display: flex;
  flex-wrap: wrap;
}

.blog-flex{
  flex: 3;
}

.aside-flex{
  flex: 1;
  text-align: center;
  vertical-align: middle;
}

.blog-pic{
  flex:1;
}

.blog-words{
  flex:5;
}

.fitted-pic{
  width:100%;
  vertical-align: center;
}

.jake-hobby{
  height: 150px;
}

.jake-techy{
  width: 295px;
}

.tech{
  background-image: url("tech-background.jpg");
}

footer{
  text-align: center;
}

a:visited{
  color: yellow;
}

.bordered-box{
  border-style: solid;
    border-width: 5px;
}
